<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>


    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam sequi, tempora alias molestiae quo eligendi? Rerum consequatur maxime accusamus. Ea, sunt voluptatum asperiores nam dolorem iure maxime rem possimus!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam sequi, tempora alias molestiae quo eligendi? Rerum consequatur maxime accusamus. Ea, sunt voluptatum asperiores nam dolorem iure maxime rem possimus!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam sequi, tempora alias molestiae quo eligendi? Rerum consequatur maxime accusamus. Ea, sunt voluptatum asperiores nam dolorem iure maxime rem possimus!</p>


    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>